[project]
name = "modules"
description = "modules"
authors = [{ name = "takuoko", email = "to78314910@gmail.com" }]
version = "0.1.0"
requires-python = ">= 3.10"
readme = "README.md"
dependencies = ["torch>=2.1.2", "torchvision>=0.16.2"]
license = { file = "LICENSE" }
keywords = ["computer vision"]

[project.optional-dependencies]
dev = ["pytest", "coverage"]
docs = [
    "docutils==0.18.1",
    "modelindex",
    "myst-parser",
    "pytorch_sphinx_theme@git+https://github.com/mzr1996/pytorch_sphinx_theme",
    "sphinx==6.1.3",
    "sphinx-autoapi",
    "sphinx-autodoc-typehints",
    "sphinx-copybutton",
    "sphinx-notfound-page",
    "sphinx-rtd-theme",
    "sphinx-tabs",
    "sphinxcontrib-jquery",
    "tabulate",
]

[project.scripts]
modules = "modules:cli"

[tool.setuptools.packages.find]
include = ["template*"]
exclude = [
    "build*",
    "docs*",
    "dist*",
    "tests*",
    "docker*",
    "data*",
    "work_dirs*",
    "projects*",
]

[tool.wheel]
include = ["template*"]
exclude = [
    "build*",
    "docs*",
    "dist*",
    "tests*",
    "docker*",
    "data*",
    "work_dirs*",
    "projects*",
]

[tool.distutils.bdist_wheel]
universal = true

[tool.ruff]
target-version = "py311"
select = ["ALL"]
ignore = [
    "PGH004",
    "B028",
    "ANN002",
    "ANN003",
    "ERA001",
    "C408",
    "INP001",
    "D100",
    "D107",
    "D104",
]

[tool.mypy]
python_version = "3.11"
no_strict_optional = true
ignore_missing_imports = true
check_untyped_defs = true
